#!/bin/bash
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{ if eq .chezmoi.os "linux" -}}
sudo apt install zsh curl ripgrep openssh-client nano git
chsh -s $(which zsh)
{{ else if eq .chezmoi.os "darwin" -}}
brew install zsh curl ripgrep openssh nano git
{{ end -}}
if [ -d "$HOME/.oh-my-zsh" ]; then
    echo "oh-my-zsh already installed"
else
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh) --unattended"
fi
